@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

.theme-main {
  @apply bg-gray-50 dark:bg-gray-900;
  @apply text-gray-700 dark:text-gray-300;
}

.theme-main-hover {
  @apply hover:bg-gray-900 hover:text-gray-100 dark:hover:bg-gray-50 dark:hover:text-gray-900;
}

.theme-sub {
  @apply bg-gray-100 dark:bg-gray-800;
  @apply text-gray-500 dark:text-gray-400;
}

.theme-sub-hover {
  @apply hover:bg-gray-200 dark:hover:bg-gray-700;
}
